<div class="prose col-start-3 row-start-1 max-sm:col-span-full max-sm:col-start-1 px-2 pt-4 sm:px-2 sm:pt-8">
  <h1 class="line-y py-1 text-5xl tracking-tight sm:text-6xl text-pretty">Cookie Policy</h1>
  <p class="line-y mt-2 max-w-2xl py-1 text-lg/7 font-medium text-pretty text-gray-600">
    Last updated on March 4, 2025
  </p>
  <div class="max-w-2xl py-3 grid grid-cols-1 gap-2 text-sm/7 text-gray-600 [&_strong]:font-semibold [&_strong]:text-gray-950 [&_h2]:text-base/7 [&_h2]:font-semibold [&_h2]:text-gray-950 [&_h3]:font-semibold [&_h3]:text-gray-950 [&_a]:font-semibold [&_a]:text-gray-950 [&_a]:underline [&_a]:decoration-sky-400 [&_a]:underline-offset-4 [&_a]:hover:text-sky-500 [&_li]:relative [&_li]:before:absolute [&_li]:before:-top-0.5 [&_li]:before:-left-6 [&_li]:before:text-gray-300 [&_li]:before:content-['▪'] [&_ul]:pl-9 [&_pre]:overflow-x-auto [&_pre]:rounded-xl [&_pre]:border-4 [&_pre]:border-gray-950 [&_pre]:bg-gray-900 [&_pre]:p-4 [&_pre]:text-white [&_pre]:outline-1 [&_pre]:-outline-offset-5 [&_pre]:outline-white/10 [&_pre_code]:bg-gray-900 [&_code]:not-in-[pre]:font-medium [&_code]:not-in-[pre]:text-gray-950 [&_code]:not-in-[pre]:before:content-['`'] [&_code]:not-in-[pre]:after:content-['`']">
    <p>
      Web cookies are small files that store data related to our site. You can think of cookies as brief notes with relevant details related to your visits on our website.
      By ‘reading’ these notes, we can offer you, every time, relevant information and experiences. More specifically, cookies ease web processes and deliver more relevant experiences by remembering your website preferences and visits.
      This helps us display only meaningful, targeted content and spare you from non-targeted, irrelevant messages.
    </p>

    <h2 class="line-y py-1">What types of cookies do we use?</h2>

    <h3>Mandatory Cookies</h3>
    <p>
      Mandatory cookies cannot be turned off as they are required for the good functioning of the website. However, these cookies do not track you.
    </p>

    <h3>Tracking Cookies</h3>
    <p>
      Tracking cookies are used by social media ads accounts (e.g. through Facebook Pixel) to target ads according to your preferences, demographics and pattern of digital actions.
      Although the data collected by tracking cookies helps us to target ads better, the data in cause remains anonymous to us.
    </p>

    <h2 class="line-y py-1">How to manage Cookies?</h2>
    <p>
      You can always opt to turn off cookies from your browser settings. Check the website of your browser for step-by-step instructions of how to opt out.
      If you have any further questions regarding how to handle cookies we’d be happy to answer. Please contact us at privacy@remotereason.com for more details.
    </p>
  </div>
</div>
