<.layout_page_centered>
  <!-- Project header -->
  <.container_page_heading
    title="FONTDUE.COM"
    description="The ecommerce platform for independent type foundries"
  />
  <!-- Brand hero image -->
  <.container_hero_image image="/images/cases/fontdue_about.png" />
  <!-- About project -->
  <.container_page_text title="The Company">
    <.container_page_paragraph>
      The ecommerce platform for independent type foundries - Build your website. Manage your content. Own distribution. Sell your fonts.
    </.container_page_paragraph>
  </.container_page_text>
  <.container_page_text title="About the project">
    <.container_page_paragraph>
      The Burohelp platform has been built from ground up as a two sided custom marketplace.
    </.container_page_paragraph>
    <.container_page_paragraph>
      The platform consist of two sides
      <ul>
        <.container_page_paragraph_item icon="hero-minus">
          the non-profit (time bank)
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-minus">
          the commercial organisation (donor)
        </.container_page_paragraph_item>
      </ul>
    </.container_page_paragraph>
    <.container_page_paragraph>
      Burohelp brings these two sides together. Non-profits share their hours continously and offer them to all interrested commercial organisations.
    </.container_page_paragraph>
    <.container_page_paragraph>
      Each side has it's custom onboarding & verification process. After onboarding the platform checks the validity of the organisations data in public governmental & commercial databases.
    </.container_page_paragraph>
    <.container_page_paragraph>
      The platform is deployed in AWS (with a fully automated CI/CD) and operates across multiple countries and languages.
    </.container_page_paragraph>
    <.container_page_paragraph>
      All payments processing is executed via Stripe.
    </.container_page_paragraph>
    <.container_page_paragraph>
      Each country has specific local integrations to automate compliance checks and local reporting needs.
    </.container_page_paragraph>
  </.container_page_text>
  
<!--Quote -->
  <.container_page_card
    description="Remote Reason's work has provided quality-of-life improvements and unlocked new sales potential for the client's end customers. The team has delivered on time, onboarded quickly, and communicated through texts and video calls.
    Their autonomy and problem-solving skills have impressed the client."
    image={LinkHelper.image_path("/cases/tom.jpeg")}
    name="Tom Conroy"
    position="CEO & Founder, Fontdue"
    clutch="https://clutch.co/profile/remote-reason#review-381654?utm_campaign=widget&utm_content=testimonial&utm_medium=8&utm_source=widget&utm_term=localhost"
  />
  <!--Showcase -->
  <div class="container px-6 lg:px-12">
    <h1 class="text-3xl font-semibold leading-normal text-left md:text-4xl">
      What we delivered
    </h1>
  </div>
  <!-- Boxes -->
  <.container_box_large
    alignment="left"
    image="/images/cases/fontdue_home.png"
    title="Fontdue page"
  >
    <ul>
      <.container_page_paragraph_item>
        Custom Software Development for E-Commerce Platform
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        Remote Reason has developed eight features for an e-commerce platform. The team is responsible for building
        components related to orders, sales, and functionalities for the client's admin tools.
      </.container_page_paragraph_item>
    </ul>
  </.container_box_large>
  <.container_box_large
    alignment="right"
    image="/images/cases/fontdue_doc.png"
    title="Marketplace backoffice"
  >
    <ul>
      <.container_page_paragraph_item>
        The Burohelp backoffice team has dedicated platform modules that help them validate and monitor the organisations already onboarded on the platform.
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        The backoffice team can use specific integrations so that they can perform KYC operations fast and with complete audit trails.
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        Additionally the platform integrates with external marketing & outreach tools so that the outreach team work benefits from end to end automation (ie. import/export leads, neesletters, etc.)
      </.container_page_paragraph_item>
    </ul>
  </.container_box_large>
  <.container_box_large
    alignment="left"
    image="/images/cases/fontdue_font.png"
    title="Marketing site"
  >
    <ul>
      <.container_page_paragraph_item>
        We wanted to make sure that the sales & marketing team can operate autonomously. As such we bought a Hubspot template, customised it and prepared  a Burohelp specific  marketing site & blog at hub.burohelp.com
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        We wanted to make sure that the sales & marketing team can operate autonomously. As such we bought a Hubspot template, customised it and prepared  a Burohelp specific  marketing site & blog at hub.burohelp.com
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        This integrates well with other tools used by the team like Intercom, e-mail, slack and others.
      </.container_page_paragraph_item>
    </ul>
  </.container_box_large>
  <!-- Project Highlights  -->
  <.container_page_text title="Setup" />
  <.container_page_box>
    <.page_box_items title="Project">
      <p class="font-semibold">
        Sector: <span span class="font-normal">E-commerce </span>
      </p>
      <p class="font-semibold">Size: <span class="font-normal">xxx </span></p>
      <p class="font-semibold">
        Budget: <span span class="font-normal">$50,000 to $199,999 </span>
      </p>
    </.page_box_items>
    <.page_box_items title="Verticals">
      <p>- Streaming</p>
      <p>- Big data</p>
      <p>- E-commerce</p>
    </.page_box_items>
    <.page_box_items title="Technologies">
      <p>- PHP/Laravel</p>
      <p>- Docker</p>
      <p>- AWS</p>
      <p>- Hetzner</p>
      <p>- Shopify</p>
      <p>- Wordpress</p>
    </.page_box_items>
  </.container_page_box>
</.layout_page_centered>
