<div class="bg-white py-12 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-indigo-600">for AI first companies</h2>
      <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance">
      we make software for humans & bots 
      </p>
      <p class="mt-6 text-lg/8 text-gray-600">
      Design, AI magic, web/mobile & cloud platforms

      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-black">
              <.icon name="hero-face-smile" class="h-5 w-5 px-2 text-white" />
            </div>
            AI native
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">
          We advise & build AI native platforms for startups. And often we add AI magic to existing products.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-black">
              <.icon name="hero-globe-alt" class="h-5 w-5 px-2 text-white" />
            </div>
            EU wide travel
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">
          Our team can visit your office in the EU in person. We are friendly geeks.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-black">
              <.icon name="hero-arrow-trending-up" class="h-5 w-5 px-2 text-white" />
            </div>
            Fly together
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">
          We build your software product from idea to MVP and beyond. 
          We handle design, AI magic, web / mobile & cloud deployments.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base/7 font-semibold text-gray-900">
            <div class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-black">
              <.icon name="hero-forward" class="h-5 w-5 px-2 text-white" />
            </div>
            Fast time to market
          </dt>
          <dd class="mt-2 text-base/7 text-gray-600">
          We have experience with fast moving product roadmaps.
          We start fast. We ship often.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
