<.layout_page_centered>
  <!-- Project header -->
  <.container_page_heading
    title="NativeDSD"
    description="Getting you closer to the original performance"
  />
  <!-- Project Highlights  -->
  <.container_page_box>
    <.page_box_items title="Project">
      <p class="text-sm font-semibold">
        Sector: <span class="font-light">Arts, entertainment &amp music </span>
      </p>
      <p class="text-sm font-semibold">Size: <span class="font-light">xxx </span></p>
      <p class="text-sm font-semibold">
        Budget: <span class="font-light">$50,000 to $199,999 </span>
      </p>
    </.page_box_items>
    <.page_box_items title="Verticals">
      <p class="text-sm font-light">- Streaming</p>
      <p class="text-sm font-light">- Big data</p>
      <p class="text-sm font-light">- E-commerce</p>
    </.page_box_items>
    <.page_box_items title="Technologies">
      <p class="text-sm font-light">- PHP/Laravel</p>
      <p class="text-sm font-light">- Docker</p>
      <p class="text-sm font-light">- AWS</p>
      <p class="text-sm font-light">- Hetzner</p>
      <p class="text-sm font-light">- Shopify</p>
      <p class="text-sm font-light">- Wordpress</p>
    </.page_box_items>
  </.container_page_box>
  <!-- Brand hero image -->
  <div class="container mx-auto px-6 md:pt-2 pb-5">
    <img src="/images/cases/nativedsd_home.png" alt="Product screenshot" />
  </div>
  <!-- About company -->
  <.container_page_text title="The Company">
    <.container_page_paragraph>
      Nativedsd is a music platform like Spotify but focused on ultra high end audiophiles. The customers of Nativedsd need specialised audio equipment that cost tens of thousands of dollars just be able to listen to their purchased audio files. Customers buy the content digitally via one time purchases, subscriptions or streaming.
    </.container_page_paragraph>
    <.container_page_paragraph>
      To achieve such high quality expectations NativeDsd and it's partner labels provide all audio in studio quality formats that are lossless encoded and have multiple audio channels. A studio quality audio file delivered by NativeDsd is 10-20x larger than a regular audio file delivered via services like Spotify.
    </.container_page_paragraph>
    <.container_page_paragraph>
      NativeDSD stored audio data is 200+ TB and the infrastructure traffic is 50+ TB / month.
    </.container_page_paragraph>
    <.container_page_paragraph>
      Audio data storage and delivery is by far the most important operational cost for the platform. Keeping this cost low enables NativeDSD to stay profitable and grow.
    </.container_page_paragraph>
  </.container_page_text>
  <!-- About project -->
  <.container_page_text title="About the project">
    <.container_page_paragraph>
      NativeDSD operates since early 2010s and due to it's success it has outgrown their early
      tech stack & infrastructure.
    </.container_page_paragraph>
    <.container_page_paragraph>
      As the business found it's market fit it still had lots
      of old features/tech decisions that limited it's ability to move forward faster with lower
      operational costs.
    </.container_page_paragraph>
    <.container_page_paragraph>
      The project has been focused on:
    </.container_page_paragraph>
  </.container_page_text>

  <.container_box_large
    alignment="right"
    image="/images/cases/nativedsd_about.png"
    title="(1) migrating from an earlier tech stack to a new one => performance, stability, faster development & lower TCO (Total Cost Ownership)"
  >
    <div>
      <h3 class="font-semibold">Before</h3>
      <ul>
        <.container_page_paragraph_item icon="hero-minus">
          no CI/CD pipeline & no containers
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-minus">
          self hosted Wordpress shop (heavily customised with plugins)
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-minus">
          a custom PHP backoffice with legacy framework
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-minus">
          a desktop app written in JS / Atom Electron
        </.container_page_paragraph_item>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold py-4">After</h3>
      <ul>
        <.container_page_paragraph_item icon="hero-check">
          docker containers & full automated CI/CD & test/prod envs
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-check">
          docker containers & full automated CI/CD & test/prod envs
        </.container_page_paragraph_item>

        <.container_page_paragraph_item icon="hero-check">
          Shopify based shop (customised with minimal plugins)
        </.container_page_paragraph_item>

        <.container_page_paragraph_item icon="hero-check">
          completely rewritten platform/backoffice in PHP/Laravel with async first architecture
        </.container_page_paragraph_item>

        <.container_page_paragraph_item icon="hero-check">
          completely rewritten desktop app with PHP/Laravel
        </.container_page_paragraph_item>
      </ul>
    </div>
  </.container_box_large>
  <.container_box_large
    alignment="left"
    image="/images/cases/nativedsd_albums_dashboard.png"
    title="(2) migrating to a more efficient infrastructure for data storage & delivery => 10x cheaper storage & data delivery"
  >
    <p>
      We discovered that NativeDSD had very specific storage and delivery needs and AWS forced us to pay a lot for many features we didn't actually use. A hybrid approach (AWS, Hetzner, Bunny) was the right fit at much lower costs.
    </p>
    <div>
      <h3 class="font-semibold py-4">Before</h3>
      <ul>
        <.container_page_paragraph_item icon="hero-minus">
          AWS compute & database
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-minus">
          AWS S3 storage & Cloudfront data delivery
        </.container_page_paragraph_item>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold py-4">After</h3>
      <ul>
        <.container_page_paragraph_item icon="hero-check">
          AWS database + AWS Outpost (managed dockers for bare metal)
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-check">
          Hetzner bare metal compute
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-check">
          Hetzner bare bones data storage
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-check">
          AWS Glacier for long term backups
        </.container_page_paragraph_item>
        <.container_page_paragraph_item icon="hero-check">
          Bunny CDN data delivery
        </.container_page_paragraph_item>
      </ul>
    </div>
  </.container_box_large>
  
<!--Numbers achieved -->
  <div class="relative flex flex-col justify-between space-y-10 px-10
    md:px-6 md:space-y-0 md:space-x-7 md:flex-row my-10">
    <.container_box_small
      title="10x"
      subtitle="cheaper storage & data delivery"
    />
    <.container_box_small
      title="100%+"
      subtitle="performance, stability, speed"
    />
    <.container_box_small
      title="100%+"
      subtitle="faster development & lower TCO "
    />
  </div>
  <!--Quote -->
  <.container_page_card
    description="Remote Reason has improved the site's speed and backend functionality. The team has facilitated a structured and
    precise workflow, delivered weekly reports every Monday, and communicated via calls, chats, and meetings. They've also created steps to simplify the problem and
    craft a clear solution."
    image={LinkHelper.image_path("/cases/jonas.jpeg")}
    name="Jonas Sacks"
    position="CEO, NativeDSD Music"
    linkedin="https://nl.linkedin.com/in/jonas-sacks-7aa771271"
    clutch="https://clutch.co/go-to-review/21913110-da3a-48cc-9200-43ae5de59e57/380383"
  />
  <!--Showcase -->
  <div class="container px-6 lg:px-12">
    <h1 class="text-3xl font-semibold leading-normal text-left md:text-4xl">
      What we delivered
    </h1>
  </div>
  <!-- Boxes -->
  <.container_box_large
    alignment="right"
    image="/images/cases/nativedsd_details.png"
    title="Migration to Shopify shop"
  >
    <ul>
      <.container_page_paragraph_item>
        We migrated all the old shop data & integrations from Wordpress (with Woocommerce) to Shopify. This included integrations like payment provider (Stripe & Mollie), Intercom, Mailchimp and others.
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        The platform synchronises with Shopify (via webhooks and REST APIs).
      </.container_page_paragraph_item>
    </ul>
  </.container_box_large>
  <.container_box_large
    alignment="left"
    image="/images/cases/nativedsd_about.png"
    title="New platform"
  >
    <ul>
      <.container_page_paragraph_item>
        The newly built NativeDSD platform keeps all it's master data (users, customers, purchases, albums, subscriptions, etc) in it's core platform.
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        The platform exposes audio data (with signed urls) and metadata via REST APIs. These API endpoints are used by external systems (Shopify, Desktop catalog app, Streaming brokers) to deliver services to the NativeDSD customers.
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        Additionally the platform is responsible for audio data collection delivered via FTP by partner labels and also automated long term backups at scale.
      </.container_page_paragraph_item>
    </ul>
  </.container_box_large>
  <.container_box_large
    alignment="right"
    image="/images/cases/nativedsd_labels_dashboard.png"
    title="New backoffice"
  >
    <ul>
      <.container_page_paragraph_item>
        The newly built backoffice is used by the NativeDSD team to automate the importing of data, manage products & publish to Shopify.
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        Additionally the web portal has separate modules used by the partner labels (ie. organisations that record and publish albums) to validate, fix and deliver their audio files to resell them via the NativeDSD main shop.
      </.container_page_paragraph_item>
    </ul>
  </.container_box_large>
  <.container_box_large
    alignment="left"
    image="/images/cases/nativedsd_search.png"
    title="New Desktop catalog app"
  >
    <ul>
      <.container_page_paragraph_item>
        The newly built backoffice is used by the NativeDSD team to automate the importing of data, manage products & publish to Shopify.
      </.container_page_paragraph_item>
      <.container_page_paragraph_item>
        Additionally the web portal has separate modules used by the partner labels (ie. organisations that record and publish albums) to validate, fix and deliver their audio files to resell them via the NativeDSD main shop.
      </.container_page_paragraph_item>
    </ul>
  </.container_box_large>

  <div class="container px-6 md:px-12">
    <h1 class="text-lg font-semibold leading-normal text-left md:text-xl">
      Learn more
    </h1>
    <ul>
      <.container_page_paragraph_item icon="hero-link">
        <a href="https://www.nativedsd.com/" target="new_page">
          nativedsd.com
        </a>
      </.container_page_paragraph_item>
      <.container_page_paragraph_item icon="hero-link">
        <a href="https://www.hetzner.com/">
          Hetzner
        </a>
      </.container_page_paragraph_item>
      <.container_page_paragraph_item icon="hero-link">
        <a href="#">
          Bunny
        </a>
      </.container_page_paragraph_item>
      <.container_page_paragraph_item icon="hero-link">
        <a href="https://aws.amazon.com/s3/storage-classes/glacier/">
          AWS Glacier
        </a>
      </.container_page_paragraph_item>
      <.container_page_paragraph_item icon="hero-link">
        <a href="https://docs.aws.amazon.com/outposts/latest/server-userguide/what-is-outposts.html">
          AWS Outpost
        </a>
      </.container_page_paragraph_item>
      <.container_page_paragraph_item icon="hero-link">
        <a href="https://aws.amazon.com/rds/#:~:text=Amazon%20Relational%20Database%20Service%20(Amazon,for%20total%20cost%20of%20ownership.">
          AWS RDS
        </a>
      </.container_page_paragraph_item>
    </ul>
  </div>
</.layout_page_centered>
