<.layout_page_centered>
  <!-- Project header -->
  <.container_page_heading
    title="Prisma"
    description="Normaal leven. Dat is wat jij wilt."
  />
  <!-- Project Highlights  -->
  <.container_page_box>
    <.page_box_items title="The project">
      <p class="text-sm font-semibold">
        Sector: <span class="font-light">Health care industry </span>
      </p>
      <p class="text-sm font-semibold">Size: <span class="font-light">xxx </span></p>
      <p class="text-sm font-semibold">
        Budget: <span class="font-light">$50,000 to $199,999 </span>
      </p>
    </.page_box_items>
    <.page_box_items title="Highlights">
      <p class="text-sm font-light">- AI strategy</p>
      <p class="text-sm font-light">- Data migration</p>
      <p class="text-sm font-light">- Webshop integration</p>
    </.page_box_items>
    <.page_box_items title="Technologies">
      <p class="text-sm font-light">- AWS</p>
      <p class="text-sm font-light">- JAVA</p>
      <p class="text-sm font-light">- Elixir</p>
    </.page_box_items>
  </.container_page_box>
  <!-- Brand hero image -->
  <div class="container mx-auto px-6 md:pt-2 pb-5">
    <img src="/images/cases/prisma_home.png" alt="Product screenshot" />
  </div>
  <!-- About project -->
  <.container_page_text title="AI Solution Dev for Health Care Industry">
    <p>PrismaNet provides care for 3 000+ people with disabilities.
      Services include assisted living, day activities, and family support focusing
      on helping people live as independently as possible.</p>
  </.container_page_text>
  <!--Project objectives -->
  <.container_box_large
    alignment="right"
    image="/images/cases/prisma_about.png"
    title="Our work"
  >
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
    quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
    ratione voluptatem sequi nesciunt.
  </.container_box_large>
  <!--Numbers achieved -->
  <div class="relative flex flex-col justify-between space-y-10 px-10
    md:px-6 md:space-y-0 md:space-x-7 md:flex-row my-10">
    <.container_box_small
      title="2x"
      subtitle="share in total revenue vs former app"
    />
    <.container_box_small
      title="4-5x"
      subtitle="conversion then mobile web users"
    />
    <.container_box_small
      title="100%+"
      subtitle="in app order growth within a year"
    />
  </div>
  <!--Quote -->
  <.container_page_card
    description="Remote Reason has delivered clear costs, weekly deliverables, and working
    features. The team has exceeded expectations and impressed the client with their
    ability to bridge business needs with tech insights. Remote Reason's project management
    has been professional and knowledgeable."
    image="https://media.licdn.com/dms/image/v2/C5603AQG3AdwR6J9fOg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1517686758155?e=1776902400&v=beta&t=Tx903kjl3UZnJCNWnobONKLCv6ml9DjO-ia4JH6h6Bg"
    name="Richard Kloosterman"
    position="CEO, Intersoft"
    linkedin="https://www.linkedin.com/in/richardkloosterman/"
    clutch="https://clutch.co/go-to-review/21913110-da3a-48cc-9200-43ae5de59e57/426727"
  />
  <!--Showcase -->
  <div>
    <h4 class="text-3xl font-bold md:text-4xl mx-auto text-left px-6">
      Showcase
    </h4>
  </div>
  <!-- Boxes -->
  <.container_box_large
    alignment="right"
    image="/images/cases/signetta_manager.png"
    title="Easy management"
  >
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
    quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
    ratione voluptatem sequi nesciunt.
  </.container_box_large>
  <.container_box_large
    alignment="left"
    image="/images/cases/signetta_doc.png"
    title="Direct access"
  >
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
    quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
    ratione voluptatem sequi nesciunt.
  </.container_box_large>
</.layout_page_centered>
