<div class="bg-white py-12 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base/7 font-semibold text-indigo-600">for AI first companies</h2>
      <p class="p-4 mt-2 text-pretty text-4xl font-semibold tracking-tight text-white sm:text-5xl lg:text-balance rounded-lg bg-black">
      we make software for humans and bots_
      </p>
      <p class="mt-6 text-lg/8 text-gray-600">
      AI sparkles <.icon name="hero-sparkles" class="h-5 w-5 px-2 text-indigo-600" /> apps and cloud
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <.featured_card title="AI native" description="We advise & build AI native platforms for startups. We add AI sparkles to existing products." icon="hero-face-smile" />
        <.featured_card title="EU wide travel" description="Our team can visit your office in the EU in person. We are friendly geeks." icon="hero-globe-alt" />
        <.featured_card title="Fly together" description="We build your software product from idea to MVP and beyond. We handle design, AI magic, web / mobile & cloud deployments." icon="hero-arrow-trending-up" />
        <.featured_card title="Fast time to market" description="We have experience with fast moving product roadmaps. We start fast. We ship often." icon="hero-forward" />        
      </dl>
    </div>
  </div>
</div>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base/7 font-semibold text-indigo-600">humans & bots working together</h2>
    <p class="mt-2 max-w-lg text-pretty text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl">
    strategy, product & engineering
    </p>
    <div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2">
      <.bento_large_card title="AI product strategies" 
      subtitle="Delight your customers with AI sparkles" 
      description="We strategically place AI features so that they help your customers and bring value to your business." 
      image={LinkHelper.image_path("/home/ai_strategies.svg")} />
      <.bento_large_card title="AI Go To Market" subtitle="growth driven by humans & bots" description="Curabitur auctor, ex quis auctor venenatis, eros arcu rhoncus massa, laoreet dapibus ex elit vitae odio." 
      image={LinkHelper.image_path("/home/ai_gtm.svg")} />
      <.bento_small_card title="AI engineering" subtitle="On premise / Cloud / Saas" 
      description="Generative AI, chatbots & custom AI models. Fine tuned to your own data and business case. Deployed on premise or private clouds." 
      image={LinkHelper.image_path("/expertise/ai_engineering.svg")} />
      <.bento_small_card title="Mobile apps" subtitle="Cross platform / iOS / Android" 
      description="We build mobile apps for iOS and Android. Flawless experience on phones & tables of all sizes." 
      image={LinkHelper.image_path("/expertise/mobile_apps.svg")} />
      <.bento_small_card title="Web apps" subtitle="Frontend / Backend / DevOps" 
      description="We build webapps & platforms. We handle frontend, backend, devops, cloud and everything." 
      image={LinkHelper.image_path("/expertise/web_apps.svg")} />
    </div>
  </div>
</div>
