<.layout_page_centered>
  <.brand_banner />
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
    <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
      <.featured_card
        title="AI native"
        description="We advise & build AI native platforms for startups. We add AI sparkles to existing products."
        icon="hero-face-smile"
      />
      <.featured_card
        title="US & EU"
        description="We work for clients both in the EU US."
        icon="hero-globe-alt"
      />
      <.featured_card
        title="Fly together"
        description="We build your software product from idea to MVP and beyond. We handle design, AI magic, web / mobile & cloud deployments."
        icon="hero-arrow-trending-up"
      />
      <.featured_card
        title="Fast time to market"
        description="We have experience with fast moving product roadmaps. We start fast. We ship often."
        icon="hero-forward"
      />
    </dl>
  </div>
</.layout_page_centered>

<.layout_page_centered>
  <h2 class="text-base/7 font-semibold text-indigo-600">humans & bots working together</h2>
  <p class="mt-2 max-w-lg text-pretty text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl">
    strategy, product & engineering
  </p>
  <.layout_bento_box rows={2}>
    <.layout_bento_box_large_container>
      <.link href={HomepageWeb.HomepagePageData.page_data().ai_product_strategy.url}>
        <.content_card_image_with_text
          title={HomepageData.service_ai_product_strategy().name}
          subtitle={HomepageData.service_ai_product_strategy().subtitle}
          description={HomepageData.service_ai_product_strategy().description}
          image={LinkHelper.image_path(HomepageData.service_ai_product_strategy().image)}
        />
      </.link>
    </.layout_bento_box_large_container>

    <.layout_bento_box_large_container>
      <.link href={HomepageWeb.HomepagePageData.page_data().ai_go_to_market.url}>
        <.content_card_image_with_text
          title={HomepageData.service_ai_go_to_market().name}
          subtitle={HomepageData.service_ai_go_to_market().subtitle}
          description={HomepageData.service_ai_go_to_market().description}
          image={LinkHelper.image_path(HomepageData.service_ai_go_to_market().image)}
        />
      </.link>
    </.layout_bento_box_large_container>

    <.layout_bento_box_small_container>
      <.link href={HomepageWeb.HomepagePageData.page_data().ai_engineering.url}>
        <.content_card_image_with_text
          title={HomepageData.service_ai_engineering().name}
          subtitle={HomepageData.service_ai_engineering().subtitle}
          description={HomepageData.service_ai_engineering().description}
          image={LinkHelper.image_path(HomepageData.service_ai_engineering().image)}
        />
      </.link>
    </.layout_bento_box_small_container>

    <.layout_bento_box_small_container>
      <.link href={HomepageWeb.HomepagePageData.page_data().mobile_apps.url}>
        <.content_card_image_with_text
          title={HomepageData.service_mobile_apps().name}
          subtitle={HomepageData.service_mobile_apps().subtitle}
          description={HomepageData.service_mobile_apps().description}
          image={LinkHelper.image_path(HomepageData.service_mobile_apps().image)}
        />
      </.link>
    </.layout_bento_box_small_container>

    <.layout_bento_box_small_container>
      <.link href={HomepageWeb.HomepagePageData.page_data().web_apps.url}>
        <.content_card_image_with_text
          title="Web apps"
          subtitle="Frontend / Backend / DevOps"
          description="We build webapps & platforms. We handle frontend, backend, devops, cloud and everything."
          image={LinkHelper.image_path("/expertise/web_apps.svg")}
        />
      </.link>
    </.layout_bento_box_small_container>
  </.layout_bento_box>
</.layout_page_centered>
<.lets_talk_cta />
