<.layout_page_centered>
  <.brand_banner />
  <div class="bg-white py-8 sm:py-8">
    <div class="mx-auto max-w-[1400px] px-6 lg:px-8">
      <div class="mx-auto max-w-[1400px]">
        <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
          Blog
        </h2>
        <p class="mt-2 text-lg/8 text-gray-600">AI, Elixir, MVPs, production mindset and more.</p>
        <div class="mt-16 grid grid-cols-1 gap-x-12 gap-y-16 lg:mt-20 lg:grid-cols-2">
          <%= for post <- @posts do %>
            <article id="{post.id}" class="relative isolate flex flex-col gap-8">
              <div class="relative aspect-[2/1]">
                <img
                  src={LinkHelper.blog_post_thumbnail_path(post)}
                  alt={post.title}
                  class="absolute inset-0 size-full rounded-2xl bg-gray-50 object-cover"
                />
                <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10">
                </div>
              </div>
              <div>
                <div class="flex items-center gap-x-4 text-xs">
                  <time datetime="2020-03-16" class="text-gray-500">{post.date}</time>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                    <a href={LinkHelper.blog_post_show(post)}>
                      <span class="absolute inset-0"></span>
                      {post.title}
                    </a>
                  </h3>
                  <p class="mt-5 text-sm/6 text-gray-600">
                    {raw(Homepage.StringUtils.truncate(post.description, 100))}
                  </p>
                </div>
                <div class="flex items-center gap-x-4 text-xs py-4">
                  <%= for tag <- Enum.take(post.tags, 5) do %>
                    <.link
                      href={LinkHelper.blog_post_show(post)}
                      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
                    >
                      {tag}
                    </.link>
                  <% end %>
                </div>
              </div>
            </article>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <.lets_talk_cta />
</.layout_page_centered>
